site_name: Diun
site_description: Receive notifications when a Docker image is updated on a Docker registry
site_author: CrazyMax
site_url: https://crazy-max.github.io/diun/
edit_uri: edit/master/docs/
docs_dir: docs

repo_name: crazy-max/diun
repo_url: https://github.com/crazy-max/diun

extra:
  seo:
    google: zczpYiFTLpd1jgOb3K5zGqERX2gZrkm7aRjtDqxP0a4
    bing: D188E0BEC1AB6E7C1E0194BFC35D0033
    #alexa:
    #yandex:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/crazy-max/diun

theme:
  name: material
  custom_dir: docs/_overrides
  language: en
  palette:
    scheme: default
    primary: light blue
    accent: light blue
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  include_search_page: false
  search_index_only: true

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - markdown_include.include:
      base_path: docs
  - meta
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: true

plugins:
  - exclude:
      glob:
        - "_overrides/*"
        - "Dockerfile"
  - git-revision-date-localized:
      type: iso_datetime
  - macros
  - search:
      prebuild_index: python
      lang:
        - en

google_analytics:
  - UA-12516800-10
  - auto

nav:
  - Home: index.md
  - Installation:
    - With Docker: install/docker.md
    - From binary: install/binary.md
    - Linux service: install/linux-service.md
  - Usage:
    - Command line: usage/cli.md
    - Basic example: usage/basic-example.md
  - Configuration:
    - Overview: config/index.md
    - .db: config/db.md
    - .watch: config/watch.md
    - .notif: config/notif.md
    - .regopts: config/regopts.md
    - .providers: config/providers.md
  - Notifications:
    - Amqp: notif/amqp.md
    - Discord: notif/discord.md
    - Gotify: notif/gotify.md
    - Mail: notif/mail.md
    - Rocket.Chat: notif/rocketchat.md
    - Script: notif/script.md
    - Slack: notif/slack.md
    - Teams: notif/teams.md
    - Telegram: notif/telegram.md
    - Webhook: notif/webhook.md
  - Providers:
    - Docker: providers/docker.md
    - File: providers/file.md
    - Kubernetes: providers/kubernetes.md
    - Swarm: providers/swarm.md
  - FAQ: faq.md
  - Changelog: changelog.md
  - Migration:
    - Diun v3 to v4: migration/v3-to-v4.md
    - Diun v2 to v3: migration/v2-to-v3.md
    - Diun v1 to v2: migration/v1-to-v2.md
    - Diun v0 to v1: migration/v0-to-v1.md
  - Reporting an issue: reporting-issue.md
  - Contributing: contributing.md
  - Donate: donate.md
