name: docs

on:
  push:
    branches:
      - 'master'
      - 'v*'
    tags:
      - 'v*'
    paths:
      - '.github/workflows/docs.yml'
      - 'docs/**'
      - 'Dockerfile.mkdocs'
      - 'mkdocs.yml'
  pull_request:
    branches:
      - 'master'
      - 'v*'
    paths:
      - '.github/workflows/docs.yml'
      - 'docs/**'
      - 'Dockerfile.mkdocs'
      - 'mkdocs.yml'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Build mkdocs Docker image
        run: |
          docker build -t mkdocs -f ./Dockerfile.mkdocs ./
      -
        name: Build docs
        run: |
          docker run --rm -v "$(pwd):/docs" mkdocs build --strict
          sudo chown -R $(id -u):$(id -g) ./site
      -
        name: Deploy
        if: success() && github.event_name != 'pull_request' && (endsWith(github.ref, github.event.repository.default_branch) || startsWith(github.ref, 'refs/tags/'))
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
